.country-card-preview {
	display: flex;
	flex-direction: column;

	width: 250px;
	height: 300px;

	margin: 30px;

	box-shadow: 2px 2px 10px hsl(0%, 0%, 80%);

	font-family: 'Nunito Sans', sans-serif;

	border-radius: 5px;

	.flag-container {
		height: 350px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
	}

	text: {
		align: left;
	}

	h3 {
		margin: 0 0 10px 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		font-size: 14px;
	}

	.country-preview-info {
		height: 100%;

		padding: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
