.header {
	display: flex;
	align-items: center;

	padding: 0 40px;

	box-shadow: 0 0 5px 0 hsl(0%, 0%, 80%);

	background-color: hsl(0%, 0%, 100%);

	h1 {
		font-family: 'Nunito Sans', sans-serif;
		font-size: 22px;
	}

	.theme-btn {

		margin-left: auto;

		height: fit-content;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;


		font: {
			family: 'Nunito Sans', sans-serif;
			weight: bold;
		}

		i {
			font-size: 15px;
			margin: 5px;
		}
	}
}
