.toolbar-container {
	display: flex;

	margin: 30px;

	input {
		width: 33%;
		height: 25px;

		padding: 10px;

		border: none;
		border-radius: 5px;

		box-shadow: 2px 2px 10px hsl(0%, 0%, 80%);

		font-family: FontAwesome, 'Nunito Sans';

		background-color: #FFF;

		outline: none;
	}

	select {
		width: 20%;

		padding: 10px;

		margin-left: auto;

		border: none;
		border-radius: 5px;

		box-shadow: 2px 2px 10px hsl(0%, 0%, 80%);

		font-family: 'Nunito Sans', sans-serif;

		background-color: #FFF;

		outline: none;
	}
}
